@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?uqqdzo");
  src: url("../fonts/icons.eot?uqqdzo#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?uqqdzo") format("truetype"), url("../fonts/icons.woff?uqqdzo") format("woff"), url("../fonts/icons.svg?uqqdzo#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"],
[class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-cross:before {
  content: "\ea0f";
}

.i-facebook2:before {
  content: "\ea91";
}

.i-instagram:before {
  content: "\ea92";
}

.i-comment-bubble-icon:before {
  content: "\e900";
}

.i-comment-icon:before {
  content: "\e901";
}

.i-hamburger-icon:before {
  content: "\e902";
}

.i-link-icon:before {
  content: "\e903";
}

.i-link-icon-solid:before {
  content: "\e904";
}

.i-logo:before {
  content: "\e905";
  font-weight: 900;
  font-size: 1.3em;
}

@media (min-width: 992px) {
  .i-logo:before {
    font-size: 1.8em;
  }
}

.i-search-icon:before {
  content: "\e906";
}

.i-tag-icon:before {
  content: "\e907";
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: #f8f7f3;
  background-color: #444144;
  font-size: 17px;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

a {
  text-decoration: none;
}

nav .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  min-width: 70vw;
}

nav .search-form input[type="text"] {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #f8f7f3;
  padding: 1rem 0;
  font-size: 1.3rem;
}

nav .search-form button {
  color: #f8f7f3;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 2rem;
  height: 100%;
}

nav .main-navbar {
  width: 100%;
  padding: 1rem 3rem;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  font-size: 1.5em;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

nav .main-navbar .search-form {
  position: absolute;
  width: 100%;
  background-color: #231f20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

nav .main-navbar .search-form input[type="text"] {
  width: 60%;
}

nav .main-navbar .search-form button {
  width: 8%;
}

nav .main-navbar .search-form-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .main-navbar #search-icon {
  display: none;
}

nav .main-navbar #logo-icon {
  margin-top: 0.3rem;
}

nav .main-navbar #menu-icon {
  height: 50%;
  padding: 50% 0;
}

nav .main-navbar #menu-icon .hamburger {
  position: relative;
  display: block;
}

nav .main-navbar #menu-icon .hamburger, nav .main-navbar #menu-icon .hamburger::before, nav .main-navbar #menu-icon .hamburger::after {
  height: 2px;
  width: 1.5em;
  background-color: #f8f7f3;
  border-radius: 0.8rem;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

@media (min-width: 992px) {
  nav .main-navbar #menu-icon .hamburger, nav .main-navbar #menu-icon .hamburger::before, nav .main-navbar #menu-icon .hamburger::after {
    width: 1.5em;
  }
}

nav .main-navbar #menu-icon .hamburger::before, nav .main-navbar #menu-icon .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

nav .main-navbar #menu-icon .hamburger::before {
  bottom: 10px;
}

nav .main-navbar #menu-icon .hamburger::after {
  top: 10px;
}

@media (min-width: 768px) {
  nav .main-navbar {
    padding: 1rem 6rem;
  }
}

@media (min-width: 992px) {
  nav .main-navbar {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    padding: 1rem 10rem;
  }
  nav .main-navbar #search-icon {
    display: block;
  }
}

nav .main-navbar-active {
  background-color: #231f20;
}

nav .hamburger-active #menu-icon .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .hamburger-active #menu-icon .hamburger::before {
  -webkit-transform: rotate(90deg) translate(10px);
          transform: rotate(90deg) translate(10px);
}

nav .hamburger-active #menu-icon .hamburger::after {
  -webkit-transform: rotate(90deg) translate(-10px);
          transform: rotate(90deg) translate(-10px);
}

nav .side-navbar {
  background-color: #373537;
  position: fixed;
  width: 100%;
  top: 4.8rem;
  z-index: 1000;
  display: -ms-grid;
  display: grid;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

nav .side-navbar a {
  display: block;
}

nav .side-navbar .navbar {
  padding: 1.5rem 2rem;
}

nav .side-navbar .navbar a {
  padding: 0.8em 0;
  min-width: 70vw;
}

nav .side-navbar .navbar a::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #f8f7f3;
  right: 0;
  height: 1px;
  width: 100vw;
  margin-top: 0.3rem;
}

nav .side-navbar .navbar a:last-child::after {
  display: none;
}

nav .side-navbar .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  min-width: 70vw;
}

nav .side-navbar .search-form input[type="text"] {
  width: 80%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #f8f7f3;
  padding: 1rem 0;
  font-size: 1.3rem;
}

nav .side-navbar .search-form button {
  width: 20%;
  color: #f8f7f3;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 2rem;
  height: 100%;
}

nav .side-navbar .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .side-navbar .social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f8f7f3;
  width: 50vw;
  height: 100%;
  padding: 1.6rem 0;
}

nav .side-navbar .social a:first-child {
  border-right: 1px solid #f8f7f3;
}

@media (min-width: 992px) {
  nav .side-navbar {
    min-height: 100vh;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0;
    top: 0;
    right: 0;
  }
  nav .side-navbar .navbar {
    width: 300px;
    margin-top: 10%;
  }
  nav .side-navbar .rows {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  nav .side-navbar .search-form {
    display: none;
  }
  nav .side-navbar .social {
    bottom: 0;
  }
  nav .side-navbar .social a {
    width: 225px;
  }
}

nav .side-navbar-active {
  max-height: 70vh;
}

@media (min-width: 992px) {
  nav .side-navbar-active {
    width: 450px;
  }
}

@media (min-width: 992px) {
  nav .main-navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  nav .main-navbar .search-form {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  nav .main-navbar-active {
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  nav .main-navbar-active .search-form {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

header {
  height: 50vh;
  color: #fff;
  background: url("../img/ish.jpg") center center;
  background-size: cover;
}

@media (min-width: 992px) {
  header {
    height: 80vh;
  }
}

.over {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 47, 75, 0.4)), to(rgba(231, 223, 223, 0.4)));
  background-image: linear-gradient(to bottom right, rgba(0, 47, 75, 0.4), rgba(231, 223, 223, 0.4));
}

@media (min-width: 992px) {
  .top-posts {
    margin-top: -10%;
  }
}

.top-posts .top-post {
  background-color: #231f20;
  -webkit-box-shadow: 0.5rem 0.5rem 2rem 0.5rem #231f20;
          box-shadow: 0.5rem 0.5rem 2rem 0.5rem #231f20;
  border-radius: 0.25rem;
  margin: 3rem 0;
  -webkit-transition: -webkit-transform 1s, -webkit-box-shadow 1s;
  transition: -webkit-transform 1s, -webkit-box-shadow 1s;
  transition: transform 1s, box-shadow 1s;
  transition: transform 1s, box-shadow 1s, -webkit-transform 1s, -webkit-box-shadow 1s;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

@media (min-width: 992px) {
  .top-posts .top-post {
        grid-template-areas: "i c";
  }
}

.top-posts .top-post:hover {
  -webkit-box-shadow: 0.3rem 0.3rem 1rem 0.4rem #231f20;
          box-shadow: 0.3rem 0.3rem 1rem 0.4rem #231f20;
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
}

.top-posts .top-post .top-img {
  grid-area: "i";
  gap: 1rem;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  height: 100%;
  width: 100%;
}

.top-posts .top-post .top-img:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.top-posts .top-post .top-img:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.top-posts .top-post .top-content {
  grid-area: "c";
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 1rem;
}

@media (min-width: 992px) {
  .top-posts .top-post .top-content {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.top-posts .top-post .top-content .comment-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-posts .top-post .top-content .comment-tag a {
  padding: 0.5rem 2rem;
}

.top-posts .top-post .top-content .comment-tag::before {
  content: "";
  width: 70%;
  height: 1px;
  background: #f8f7f3;
  left: 0;
  top: 50%;
  margin-top: 0.5rem;
}

.subscribe {
  height: 50vh;
}

.subscribe p {
  margin-bottom: 5vh;
}

.subscribe .t-line {
  font-size: 6vw;
  line-height: 4vh;
}

@media (min-width: 992px) {
  .subscribe .t-line {
    line-height: 5vh;
  }
}

@media (min-width: 1200px) {
  .subscribe .t-line {
    font-size: 3vw;
    line-height: 8vh;
  }
}

.subscribe .sub-form input[type="email"],
.subscribe .sub-form input[type="submit"] {
  padding: 0 4.5vh;
}

@media (min-width: 768px) {
  .subscribe .sub-form input[type="email"],
  .subscribe .sub-form input[type="submit"] {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .subscribe .sub-form input[type="email"],
  .subscribe .sub-form input[type="submit"] {
    font-size: 1vw;
  }
}

.subscribe .sub-form input[type="email"] {
  margin-bottom: 1.5rem;
  background-color: #231f20;
  border-color: #231f20;
  color: #f8f7f3;
}

.subscribe .sub-form input[type="submit"] {
  height: 6vh;
}

@media (min-width: 768px) {
  .subscribe .sub-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .subscribe .sub-form input[type="email"] {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.posts {
  margin-bottom: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

@media (min-width: 576px) {
  .posts {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 992px) {
  .posts {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

.posts hr {
  margin: 1rem -1rem;
}

.posts .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts .date {
  margin-bottom: 0.7rem;
  display: block;
}

footer {
  min-height: 25vh;
  background-color: #231f20;
}

footer .features {
  display: -ms-grid;
  display: grid;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  footer .features {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

footer .features .desc,
footer .features .recent-posts,
footer .features .popular-tags {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  footer .features .desc,
  footer .features .recent-posts,
  footer .features .popular-tags {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
  }
}

@media (min-width: 992px) {
  footer .features .desc,
  footer .features .recent-posts,
  footer .features .popular-tags {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

footer .features .recent-post {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  max-width: 60%;
  margin: 1rem 0;
}

@media (min-width: 450px) {
  footer .features .recent-post {
    max-width: 45%;
  }
}

@media (min-width: 768px) {
  footer .features .recent-post {
    max-width: 35%;
  }
}

@media (min-width: 992px) {
  footer .features .recent-post {
    max-width: 85%;
  }
}

@media (min-width: 1200px) {
  footer .features .recent-post {
    max-width: 75%;
  }
}

footer .features .recent-post img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0;
  padding: 0;
}

footer .features .recent-post .img-link {
  display: block;
  overflow: hidden;
  position: relative;
}

footer .features .recent-post .img-link .img-fluid {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer .features .recent-post .img-link:hover .img-fluid {
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer .features .recent-post .link-overlay {
  border-radius: 50%;
}

footer .features .recent-post .link-overlay i {
  padding: 0.4em;
  font-size: 1.2em;
}

footer .features h3 {
  margin-bottom: 0.3rem;
}

footer .features .popular-tags div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .features .tag {
  font-size: 0.8rem;
  margin: 0.5rem;
  display: inline-block;
  border-radius: 0.25rem;
}

footer .copy {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 1.5rem 0;
}

footer .copy .copy-text {
  margin-left: 1rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  margin: 1rem 0;
  -webkit-box-shadow: 0.2rem 0.2rem 0.4rem #231f20;
          box-shadow: 0.2rem 0.2rem 0.4rem #231f20;
  background-color: #363031;
}

@media (min-width: 576px) {
  .card {
    margin: 1rem;
  }
}

@media (min-width: 992px) {
  .card {
    margin: 1.25rem 1.5rem;
  }
}

.card-img,
.card-img-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-img,
.card-img-bottom {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-body {
  padding: 1rem;
}

.btn {
  border: solid;
  color: #f8f7f3;
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
}

.btn-primary {
  background-color: #d3b388;
  border-color: #d3b388;
  -webkit-transition: background-color 300ms, border-color 300ms;
  transition: background-color 300ms, border-color 300ms;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #c8a06a;
  border-color: #c8a06a;
}

.btn-primary-outline {
  background-color: #282425;
  border-color: #282425;
  -webkit-transition: background-color 300ms, border-color 300ms;
  transition: background-color 300ms, border-color 300ms;
}

.btn-outline-light {
  background-color: #2e292a;
  border-color: #2e292a;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-outline-light:hover,
.btn-outline-light:focus {
  background-color: #d3b388;
  border-color: #d3b388;
}

.light-link {
  color: #f8f7f3;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.light-link:hover,
.light-link:focus {
  color: rgba(248, 247, 243, 0.8);
}

.primary-link {
  color: #d3b388;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.primary-link:hover,
.primary-link:focus {
  color: rgba(211, 179, 136, 0.8);
}

.title-link {
  display: block;
  margin: 1rem 0;
}

.title-link h2 {
  font-weight: 400;
}

.title-link:hover,
.title-link:focus {
  color: #d3b388;
}

.img-link {
  display: block;
  overflow: hidden;
  position: relative;
}

.img-link .img-fluid {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  margin-bottom: -0.2rem;
  padding-bottom: -0.2rem;
}

.img-link:hover .img-fluid {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.img-link:hover .link-overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.link-overlay {
  background-color: rgba(211, 179, 136, 0.6);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.link-overlay i {
  background-color: #231f20;
  padding: 0.2em;
  color: #f8f7f3;
  border-radius: 50%;
  font-size: 3em;
}

.subscribe-input {
  width: 100%;
  height: 6vh;
  width: 80vw;
  padding: 0 1rem;
  border: 1px solid #ced4da;
  border-radius: 3rem;
}

@media (min-width: 768px) {
  .subscribe-input {
    width: 60vw;
  }
}

@media (min-width: 992px) {
  .subscribe-input {
    width: 45vw;
  }
}

.post-title {
  text-decoration: none;
}

.post-title:hover,
.post-title:focus {
  color: black;
}

.icon {
  width: 2rem;
  color: #f8f7f3;
}

.tag {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin-right: 0.3rem;
}

.tags,
.comments,
.comments-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags::before,
.comments::before,
.comments-bubble::before {
  display: block;
  font-family: "icons";
  margin: 0.1rem 0.5rem 0 0;
  font-size: 1.2em;
}

.tags::before {
  content: "\e907";
}

.comments::before {
  content: "\e901";
}

.comments-bubble::before {
  content: "\e900";
}

.t-line {
  display: block;
  text-align: center;
  font-size: 8.5vw;
  letter-spacing: 0.1rem;
  line-height: 8vh;
}

@media (min-width: 768px) {
  .t-line {
    font-size: 6vw;
    line-height: 6vh;
  }
}

@media (min-width: 992px) {
  .t-line {
    font-size: 5vw;
    line-height: 9vh;
  }
}

@media (min-width: 1200px) {
  .t-line {
    font-size: 4vw;
    line-height: 10vh;
  }
}

h1,
h2 {
  font-weight: 400;
}

h3 {
  text-align: center;
  font-size: 5vw;
  margin-bottom: 2vh;
}

@media (min-width: 768px) {
  h3 {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.5vw;
  }
}

strong {
  font-family: "Playfair Display", serif;
}

.r-margin {
  margin-right: 450px;
}

.right {
  -webkit-transform: translateX(-450px);
          transform: translateX(-450px);
}
